@page
@model ListTracksModel

@functions {
    public bool CanDelete(int trackId)
    {
        var sessions = Model.Conferences.SelectMany(c => c.Sessions);
        return sessions.All(s => s.TrackId != trackId);
    }
}

<ol class="breadcrumb">
    <li><a asp-page="/Admin/AdminPortal">Admin</a></li>
    <li class="active">Tracks</li>
</ol>

<h1>Tracks</h1>
<p class="text-right"><a class="btn btn-default" asp-page="AddTrack">Add</a></p>

<form method="post">
    <div class="track-list">
        @foreach (var conference in Model.Conferences)
        {
            var inputId = $"input{conference.ID}";

            <div class="collapsible-list">
                <input id="@inputId" type="checkbox" />
                <label for="@inputId">
                    <span><a class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>@conference.Name</span>
                    <span><a class="btn btn-default"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></a>@conference.Name</span>
                </label>
                <div class="list">
                    <ul>
                        @foreach (var track in conference.Tracks)
                        {
                            <li>
                                <div class="clearfix">
                                    <div class="pull-left">
                                        <span>@track.Name</span>
                                    </div>
                                    <div class="pull-right">
                                        <a class="btn btn-default" asp-page="EditTrack" asp-route-id="@track.TrackID">Edit</a>
                                        @if (CanDelete(track.TrackID))
                                        {
                                            <button type="submit" asp-page-handler="Delete" class="btn btn-danger">Delete</button>
                                        }
                                        else
                                        {
                                            <button type="submit" disabled="disabled" class="btn btn-danger">Delete</button>
                                        }                                        
                                    </div>
                                </div>


                            </li>
                        }
                    </ul>
                </div>
            </div>
        }
    </div>
</form>
